.sameuserid{

    border: 4px solid black;
    /* height: 75vh; */
    width: 40vw;
    margin-top: 4vh;
    margin-left: 30vh;
    color: white;
    background-color: rgba(128, 128, 128, 0.479);
    border-radius: 15px;
}

.useridtable{

    height: 35vh !important;
    overflow-y: scroll ;
}



.todolistrows::-webkit-scrollbar {
display: none;
}




.useridtable tr{
    display: flex;
 
    align-items: center;
    
}

.useridtable td{
    max-width: 6vw;
    margin-left: 2vw;
    padding: 2vw;
    margin: 1vw;
}

.useridtable tr button:hover{
    cursor: pointer;
  transform: scale(1.1);
  color:white;
  background-color: black;

}


.useridtable tr button{
    height: 3vw;
    margin-left: 3vw;
    /* padding: 1vw; */
    

}

.useridtable tr:nth-child(even) { 
  background-color: Lightgreen;

}

