.userdetails{

    
   
    
}

.userdetails h1{
    padding-left: 10vw;
    font-size: 2.6vw;
    color: white;
}

.userinfo{
    margin-right: 10vw;
   background-color: rgba(4, 92, 92, 0.966);
    border: 3px solid rgb(209, 0, 0);
    height: 73vh;
    width: 35vw;
    margin-top: 10vh;
    margin-left: 30vh;
    margin-top: 0;
    
    
    border-radius: 20px;
    
   

}

.userinfo h2{
    height : 8vh;
    font-size: 1.5vw;
    margin-left: 0;
   
    
    
/*  */

}
